.fbo-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
    gap: 10px;
}

.fbo-selector caption {
    text-align: left;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
    right: 0;
    z-index: 1001;
  }

.fbo-button {
    background-color: #3b536c;
    color: white;
    font-weight: 600;
    font-size: large;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

.fbo-button:hover {
    background-color: #5a6f8a;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 70%;
    right: 0;
    background-color: rgba(59, 83, 108, 0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
    padding: 0;
    list-style: none;
}
.dropdown-menu li {
    padding: 10px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s ease;
}

.dropdown-menu li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}